EAIP_Technical_Specification.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:eaip:spec:v1"
           xmlns:eaip="urn:eaip:spec:v1"
           elementFormDefault="qualified">

    <xs:element name="TechnicalSpecification">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Metadata" type="eaip:MetadataType"/>
                <xs:element name="Section" type="eaip:SectionType" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="ReferenceArchitecture" type="eaip:ReferenceArchitectureType"/>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="MetadataType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="ProtocolName" type="xs:string"/>
            <xs:element name="Version" type="xs:string"/>
            <xs:element name="Status" type="eaip:StatusType"/>
            <xs:element name="LastUpdated" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DRAFT"/>
            <xs:enumeration value="FINALIZED"/>
            <xs:enumeration value="DEPRECATED"/>
            <xs:enumeration value="OBSOLETE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="SectionType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Content" type="xs:string"/>
            <xs:element name="Subsection" type="eaip:SubsectionType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="SubsectionType">
        <xs:sequence>
            <xs:element name="Title" type="xs:string"/>
            <xs:element name="Content" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="ReferenceArchitectureType">
        <xs:sequence>
            <xs:element name="Description" type="xs:string"/>
            <xs:element name="Diagram" type="eaip:DiagramType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiagramType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="format" type="eaip:DiagramFormatType" use="required"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="DiagramFormatType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mermaid"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
